<footer class="bg-gray-800 text-white py-4">
  <div class="container mx-auto text-center">
    <p class="text-sm">© 2024 Elvin Mark Munoz Vega. All rights reserved.</p>
    <div class="flex justify-center space-x-4 mt-2">
      <a
        href="https://github.com/elvin-mark"
        target="_blank"
        class="hover:text-gray-400"
      >
        GitHub
      </a>
      <a
        href="https://www.linkedin.com/in/elvin-mark-munoz-vega-572a1b1ba"
        target="_blank"
        class="hover:text-gray-400"
      >
        LinkedIn
      </a>
      <a href="mailto:munoz.vega.em@gmail.com" class="hover:text-gray-400">
        Contact
      </a>
    </div>
  </div>
</footer>
