<section class="bg-gray-100 py-12 min-h-full">
  <div class="container mx-auto px-4">
    <h1 class="text-4xl font-bold text-gray-800 mb-6">About Me</h1>
    <div class="flex flex-col md:flex-row items-center">
      <img
        src="assets/profile/me.jpg"
        alt="Profile"
        class="w-40 h-40 rounded-full mb-6 md:mb-0 md:mr-8 hover:scale-105 transform transition-transform duration-300"
      />
      <div class="text-gray-700">
        <p>
          Hi there! I'm a passionate software developer with a strong interest
          on AI and machine learning. I've been working in the field for about 3
          years and have a solid foundation in
          <span class="font-bold">Go, Python and Java</span> using multiple
          frameworks such as
          <span class="font-bold">FastAPI, Flask and SpringBoot</span> to build
          restful APIs for Backend applications.
        </p>
        <p>
          My expertise lies in natural language processing and computer vision.
          I'm driven by a desire to create innovative solutions that make a
          positive impact. Some of my recent personal projects are detailed
          <a href="/projects" class="underline">here</a>. You can find more
          details and code samples on my
          <a href="http://github.com/elvin-mark" class="underline">Github</a>.
        </p>
        <p>
          In my free time, I enjoy learning and trying new AI technologies. I
          also enjoy learning new (human) languages. Currently, I am actively
          learning 日本語 and 한국어 (for which I made this cool
          <a href="https://lets-learn-korean.web.app/" class="underline"
            >tool</a
          >
          that you can check out!) since I found learning languages really
          fascinating!. I'm always eager to learn new things and collaborate
          with talented individuals. Feel free to reach out if you have any
          questions or projects in mind.
        </p>
      </div>
    </div>
  </div>
</section>
